*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  --black:#0D0D47;
  --dark-blue:#181882;
  --blue:#2C2A7E;

  
  font-size:62.5%;
}

body{
  display: flex;
  height: 100vh;
  background-color: var(--blue);
}

label{
  color: #FFFFFF99;
  font-size: 1.3rem;
  font-weight: 500;
}

select{
  color:#FFFFFF99;
  border-radius: .6rem;
  background-color: var(--black);
  height: 4rem;
  width: 22rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
} 

input {
  -moz-appearance: textfield;
  text-align: center;
  font-size: 1.4rem;
  color:#FFFFFF99;
  border-radius: .6rem;
  background-color: var(--black);
  height: 4rem;
  width: 22rem;
}
