*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  --blue:#5498FF;
  font-size:62.5%;
}

body{
  display: flex;
  height: 100vh;
  background-color: var(--blue);
}

label{
  color: #000000B2;
  font-size: 1.3rem;
  font-weight: 500;
}

select{
  text-align: center;
  color:#000;
  border-radius: .6rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
  height: 4rem;
  width: 13rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
} 

input {
  -moz-appearance: textfield;
  text-align: center;
  color:#000;
  border-radius: .6rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #fff;
  height: 4rem;
  width: 13rem;
  margin-bottom: 4rem;
  font-size: 1.4rem;
}
