.container{
  margin-left: 14vw;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -2rem;
}

.container h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin-top: -10rem;
  margin-bottom: 5rem;
}

.container .coin-type{
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.coin-type .input-from {
  display: flex;
  flex-direction: column;
}

.coin-type .input-to {
  display: flex;
  flex-direction: column;
}

.valors{
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.valors .input-valor {
  display: flex;
  flex-direction: column;
}

.valors .p-valor {
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
  margin-right: 11rem;
}

.valors .p-valor p{
  text-align: center;
  margin-top: 1rem;
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

.container .conversion-info{
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
}

.description{
  margin-top: 55vh;
  height: 45vh;
  width: 45vw;
}

